* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1100px; /*to center website content*/
  margin: auto; /*to center website content*/
  max-height: 1500px;
  background-color: #B0D4BE;
  color: #254441;
}
.container {
  display: grid;
  margin: auto;
  max-width: 1100px;
  height: 1200px;
  margin: 10px;
  grid-template-areas: "head head"
                        "nav nav"
                        "side main"
                        "footer footer";
  grid-template-rows: 200px 80px 800px 80px;
  grid-template-columns: 1fr 3fr;
}
.box {
  background-color: #7AB892;
  color: #254441;
  border-radius: 5px;
  border: 2px solid #7AB892;
  margin: 5px;
}
.box1 {
  background-color: rgba(89, 137, 177, 0);
  color: #254441;
  border-radius: 5px;
  border: 2px solid rgba(89, 137, 177, 0);
  margin: 5px;
}

header {
  grid-area: head;
}
nav {
  grid-area: nav;
}
aside {
  grid-area: side;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

/*General*/
.nobull {
  list-style-type: none;
}
.btn li a {
  text-decoration: none;
  color: #254441;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  background: rgba(58, 110, 78, 0.5);
}
.btn li a:hover {
  color: #254441;
  background: rgba(58, 110, 78, 0.8);
}
.row {
  display: flex;
  flex-direction: row;
}
hr {
  color: #4b807a;
  margin-bottom: 10px;
}

/*Header*/
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 60px;
  letter-spacing: 7px;
}
header img {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

/*Navigationbar*/
#navbar {
  display: flex;
  align-items: center;
}

#navbar ul li {
  padding: 10px;
  margin-left: 30px;
  text-transform: uppercase;
}

/*Sidebar*/
#side {
  margin: 20px;
}
#side h4 {
  padding-bottom: 15px;
  font-size: 25px;
  text-decoration: underline;
}
#side ul li {
  margin: 30px;
}
#side ul li a{
  text-decoration: none;
  color: #254441;
  font-weight: bold;
}
#side ul li a:hover{
  color: black;
  opacity: 0.4;
}

/*Flex-box within Grid-main*/
.flex {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}
.flexreverse {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 0px;
}
.text {
  flex: 65%;
  background-color: #7AB892;
  color: #254441;
  border-radius: 5px;
  border: 1px solid #7AB892;
  margin-left: 10px;
  text-align: right;
  padding: 15px;

}
article .text h2 {
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 7px;
}
.img {
  flex: 35%;
}
img {
  border-radius: 5px;
}
.textreverse {
  margin-right: 10px;
  margin-left: 0px;
  text-align: left;
  color: #254441;
}

/*Footer*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer ul li {
  margin: 40px;
}
